* {
  padding: 0;
  margin: 0;
}

@media (min-width: 1024px) {
  header.header-container {
    background-color: black;
    border-bottom: 1px solid red;
    background-color: black;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
  }
  nav.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px 0px 5px;
  }
  ul.all-links {
    display: flex;
    gap: 1.5em;
    justify-content: center;
    list-style: none;
  }

  a.anchor-links {
    text-decoration: none;
    color: white;
    font-family: "Chillax", sans-serif;
  }
  a.logins {
    text-decoration: none;
  }
  .anchor-links:hover {
    border-bottom: 2px solid red;
  }

  .close-menu {
    display: none;
  }

  .open-menu {
    display: none;
  }

  .anchor-links-sport {
    text-decoration: none;
    color: yellow;
    border: 1px solid yellow;
    padding: 5px 5px 5px 5px;
    font-family: "Chillax", sans-serif;
  }

  .anchor-links-sport:hover {
    transition: all 0.3s ease-in;
    background-color: rgba(255, 255, 0, 0.292);
  }
  /* styling for search container*/
  .search-container {
    padding: 1em;
  }
  .fa-magnifying-glass {
    color: white;
    position: relative;
    left: 2em;
  }

  .search-bar {
    outline: none;
    width: 30vw;
    padding: 5px 0px 5px 40px;
    border: 1px solid rgb(181, 1, 1);

    background-color: rgba(122, 122, 122, 0.457);
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-family: "Chillax", sans-serif;
  }

  a.header-links {
    color: rgb(211, 5, 5);
    text-decoration: none;
    font-family: "Clash Display", sans-serif;
  }

  .anchor-links-sport {
    text-decoration: none;
    color: yellow;
    border: 1px solid yellow;
    padding: 5px 5px 5px 5px;
    font-family: "Chillax", sans-serif;
  }

  .anchor-links-sport:hover {
    transition: all 0.3s ease-in;
    background-color: rgba(255, 255, 0, 0.292);
  }
  .logins {
    color: rgb(255, 0, 0);
    border: 1px red solid;
    background-color: black;
    border-radius: 20px;
    padding: 1em;
    font-family: "Clash Display", sans-serif;
  }

  .fa-google-play {
    color: white;
    font-size: 30px;
  }

  /* for main bodies movies container*/

  .coming-soon {
    position: relative;
    top: 5em;
    padding: 2em;
    color: rgba(145, 15, 15, 0.938);
  }

  .my-magnify {
    display: none;
  }
}

@media (max-width: 1020px) and (max-width: 1024px) {
  * {
    padding: 0;
    margin: 0;
  }

  header.header-container {
    background-color: black;
    border-bottom: 1px solid red;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
  }
  nav.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em;
  }
  ul.all-links {
    list-style: none;
  }
  .major-links {
    border-bottom: 1px solid white;
    padding: 1em;
  }
  a.anchor-links {
    text-decoration: none;

    color: white;
    font-family: "Chillax", sans-serif;
  }

  a.logins {
    text-decoration: none;
  }
  .anchor-links:hover {
    border-bottom: 2px solid red;
  }

  a.anchor-links:active {
    border-bottom: 2px solid red;
  }
  /* styling for search container*/
  .search-container {
    padding: 1em;
  }
  .fa-magnifying-glass {
    color: white;
    position: relative;
    font-size: 20px;
    left: 3em;
  }

  .search-bar {
    outline: none;
    width: 80%;
    padding: 5px 0px 5px 40px;
    border: 1px solid rgb(181, 1, 1);
    position: absolute;
    left: 10px;
    top: 4em;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: "Chillax", sans-serif;
    display: none;
  }

  /* STYLING FOR NAVIGATION FOR MOBILE AND TABLET LAYOUT*/

  .mobile-nav {
    background-color: rgb(0, 0, 0);
    position: fixed;
    padding: 1em;
    right: 1000px; /* to remove it is 500px to add it is -30px */
    top: 0;
    width: 100vw;
    z-index: 1;
    height: 40vh;
    transition: all ease 1s;
  }

  .close-menu {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 6%;
  }
  .open-menu {
    position: relative;
    right: 10px;
    width: 7%;
  }

  a.header-links {
    color: rgb(211, 5, 5);
    text-decoration: none;
    font-family: "Clash Display", sans-serif;
  }
  .logins {
    color: rgb(255, 0, 0);
    border: 1px red solid;
    background-color: black;
    position: relative;
    text-align: center;
    top: 1em;
    padding: 5px;
    font-family: "Clash Display", sans-serif;
  }

  .logo-name {
    font-size: 16px;
  }
  .major-link-login {
    text-align: center;
  }
  .fa-google-play {
    color: white;
    font-size: 16px;
  }

  .coming-soon {
    position: relative;
    top: 5.5em;
    padding: 1em;
  }

  .my-magnify-desktop {
    display: none;
  }
}
