/*
All styling for desktop, mobiles, 
and tabket.
will take place here for index files 

*/



* {
  margin: 0;
  padding: 0;
}

/* For Desktop layout */
@media (min-width: 1024px) {

  body {


    background-color: rgb(0, 0, 0);



    /*cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12'%3E%3Ccircle cx='6' cy='6' r='4' fill='white'/%3E%3C/svg%3E") 6 6, auto;
          color: white;*/

  }
  

  #search-suggestions {
    display: none;
    color: white;
    overflow-y: auto;
    padding: 10px 20px 0px 20px;
    background-color: #333;
    position: fixed;
    top: 4.5em;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

  


 
   
 
    
  }


  /* Style for the images within search suggestions */

  .new img{
    width: 20%;
  
    
  }





 




  header.header-container {

    background-color: black;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;







  }

  nav.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px 0px 5px;
  }

  ul.all-links {
    display: flex;
    gap: 1.5em;
    justify-content: center;
    list-style: none;

  }

 

  a.logins {
    text-decoration: none;
  }

  .anchor-links:hover {
    border-bottom: 2px solid red;
  }


 .anchor-links {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'Chillax', sans-serif;
}
/* for sport design*/
.anchor-links-sport {
  text-decoration: none;
  color: yellow;
  border: 1px solid yellow;
  padding: 5px 5px 5px 5px ;
  font-family: 'Chillax', sans-serif;
}


.anchor-links-sport:hover{
  transition: all .3s ease-in;
  background-color: rgba(255, 255, 0, 0.292);
}
.anchor-links.active::after {
  content: '';
  display: block;
  border: 1px solid red;
 
 
 
}



  /* styling for navigation*/

  .close-menu {
    display: none;


  }

  .open-menu {
    display: none;
  }



    /* styling for new bars*/

    .fa-bars-staggered{
      color: white;
      font-size: 30px;
      padding: 0px 10px 0px 0px ;
      cursor: pointer;
     
    }
   
  /* user info*/
  .user-container{
   display: list-item;
  
   
  }
  
  .user-fast-info{
    background-color: rgba(255, 255, 255, 0.329);
    position: fixed;
    width: 100%;
    height: 300px;
    top: 70px;
    z-index: 2;
    border-bottom: 1px red solid;
    border-left: 1px red solid;
    border-bottom-left-radius: 20px;
    left: 2000px;
    transition: all ease 1s;
    font-family: "Clash Display", sans-serif;
   
  
    
   
  }
  .user-fast-info li{
  
    list-style: none;
    padding: 2em;
    border-bottom: 1px solid white;
  }
  
  .user-fast-info li:hover{
    background-color: rgba(255, 0, 0, 0.684);
    cursor: pointer;
  }
  .user-fast-info a{
    text-decoration: none;
    color: rgb(10, 10, 10);
    font-size: 15px;
  }
  
  
  .user-image{
    width: 5%;
    border-radius: 100%;
  }




  /* styling for search container*/
  .search-container{
   padding: 1em;
    

    

  }

  .fa-magnifying-glass {
    color: white;
    position: relative;
    left: 2em;


  }

 
  .search-bar {
    outline: none;
    width: 30vw;
    padding: 5px 0px 5px 40px;
    border: 1px solid rgb(181, 1, 1);

    background-color: rgba(122, 122, 122, 0.457);
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-family: 'Chillax', sans-serif;


  }

  .my-magnify{
    display: none;
  }

  a.header-links {
    color: rgb(211, 5, 5);
    text-decoration: none;
    font-family: 'Clash Display', sans-serif;

  }

  .logins {
    color: rgb(255, 0, 0);
    border: 1px red solid;
    background-color: black;
    border-radius: 20px;
    padding: 1em;
    font-family: 'Clash Display', sans-serif;
  }

  .fa-google-play {
    color: white;
    font-size: 30px;
  }


  /* for main bodies movies container*/

  .content-container {
    background-color: black;
  }


  .image {
    display: inline-block;
    /* Ensure the container wraps around the image */
    overflow: hidden;
    /* Hide overflow to contain the shadow effect */
  }



  .img-con {
  
  width: 100vw;
    position: relative;
    top: 4em;
    filter: brightness(89%);

    /* Ensure the image fits within the container */
  
    /* Apply grayscale to the image */
    /* Add a vignette shadow effect */
    box-shadow: inset 0 0 200px 50px rgba(0, 0, 0, 0.5);
  }


  .img-con2{
    display: none;
  }

  .video-container {
    position: relative;

  }

  .letter-container {
    position: absolute;
    top: -33em;
    left: 0;
    padding: 1.5em;
    outline: none;




  }


  .back-hd {
    display: flex;
    gap: 2em;




  }


 

  .letter {
    background-color: rgb(234, 0, 0);
    color: white;
    padding: .6em;
    border-radius: 5px;
    font-family: 'Clash Display', sans-serif;

  }


  .descript {


    font-family: 'Chillax', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    width: 60%;
    height: auto;
  }

  .des-con {
    font-size: 1em;
  }



  .watch {
    display: flex;
    align-items: center;
    gap: .6em;
    margin-top: 2em;
    padding: 20px 0px 20px 10px;
    background-color: rgb(255, 255, 255);
    width: 10vw;
    font-family: 'Chillax', sans-serif;


  }

  .watch:hover {
    opacity: .8;
    cursor: pointer;
  }

  .watch-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 17px;
  }

  .rating{
    
    background-color: rgba(127, 4, 4, 0.598);
    border-radius: 2px;
    width: 11%;
    position: relative;
    left: 80.9em;
    padding: .7em;
    right: 0;
    top: 0;
    bottom: 0;

  }
  .rated{
  color: white;
 

  }
  

  .fa-play {
    color: black;
    font-size: 25px;
  }


  /* styling for treding*/




  .scroll-img2{
    width: 286px;
    border-radius: 10px;

  }

 

  .scroll-img2:hover {
    transform: scale(1.0);
    transition: all ease .7s;
    cursor: pointer;
    filter: brightness(30%);


  

  }
  



  .treading-container {
    color: white;
    top: -6em;
    position: relative;
    width: 100%;
    overflow: hidden;




  }
  .mobiletreading-container{
    display: none;
  }

 


 
  


  


  
  /* targeting each treading control for image scroll*/

  .treading-control {
   display: flex;
    gap: .3em;
    scroll-behavior: smooth;
    transition: transform 1s ease;
    padding: 0px 0px 20px 0px;
    

  
   



  }

  .treading-control2{
  width: 100%;
  }

/*

  .treads{
    display: flex;
    gap: .3em;
    scroll-behavior: smooth;
    transition: transform 1s ease;
  */

  .treading-control-2{
    display: flex;
    gap: .3em;
    scroll-behavior: smooth;
    transition: transform 1s ease;
  }

  .treading-control-3{
    display: flex;
    gap: .3em;
    scroll-behavior: smooth;
    transition: transform 1s ease;

  }

  .treading-control-4{
    display: flex;
    gap: .3em;
    scroll-behavior: smooth;
    transition: transform 1s ease;
  }


  .treading-control-5{
    display: flex;
    gap: .3em;
    scroll-behavior: smooth;
    transition: transform 1s ease;
  }

  .treading-control-6{
    display: flex;
    gap: .3em;
    scroll-behavior: smooth;
    transition: transform 1s ease;
  }


  .treading-control-7{
    display: flex;
    gap: .3em;
    scroll-behavior: smooth;
    transition: transform 1s ease;
  }


  .treading-control::-webkit-scrollbar {
    display: none;
  }


  .trend-head {
    font-family: 'Clash Display', sans-serif;
    padding: 20px 10px 20px 10px;
    /*font-size: 20px;*/
  }




  /* footer section */
  .footer-continer {

    color: white;

    padding: 3em;
    font-size: 16px;
    font-family: 'Chillax', sans-serif;
    display: flex;
    left: 0;
    right: 0;
    top: 37em;


  }

  .footer-about-us {
    width: 50vw;
  }

  .about {
    padding: 10px 0px 10px 0px;
  }

  .footer-links {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 1em;
    padding: 0px 0px 0px 60px;

  }

  .cat-links {
    text-decoration: none;
    color: rgb(238, 2, 2);
    position: relative;
    top: 2em;
    font-size: 15px;

  }


  /* for preview buttons*/


  .treading-container button {
    position: relative;
    top: -3em;
    font-size: 2em;
    padding: 10px 50px 10px 50px;
    outline: none;
    border: none;






  }

  .button {
    display: flex;
    justify-content: space-between;
  }



  .pre {

    background-color: black;
    color: rgb(255, 0, 0);
    opacity: .7;




  }



  .next {

    background-color: black;
    color: rgb(255, 0, 0);
    opacity: .6;


  }

  .pre:hover {
    opacity: 9;
    cursor: pointer;


  }


  .next:hover {
    opacity: 9;
    cursor: pointer;
  }


}


/* FOR MOBILE AND DESKTOP STYLING*/

@media (max-width: 1020px) and (max-width: 1024px) {
  * {
    padding: 0;
    margin: 0;
  }



  body {


    background-color: rgb(0, 0, 0);



    /*cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12'%3E%3Ccircle cx='6' cy='6' r='4' fill='white'/%3E%3C/svg%3E") 6 6, auto;
          color: white;*/

  }


  #search-suggestions {
    display: none;
    color: white;
    overflow-y: auto;
    padding: 10px 20px 0px 20px;
    background-color: #333;
    position: fixed;
    top: 4.5em;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

  


 
   
 
    
  }


  /* Style for the images within search suggestions */

  .new img{
    width: 150px;

  
    
  }


  header.header-container {

    background-color: black;
    border-bottom: 1px solid red;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;








  }

  nav.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px
  }

  ul.all-links {

    list-style: none;

  }

  .major-links {
    border-bottom: 1px solid white;
    padding: 1em;
  }

  a.anchor-links {
    text-decoration: none;

    color: white;
    font-family: 'Chillax', sans-serif;
  }


  a.logins {
    text-decoration: none;
  }

  .anchor-links:hover {
    border-bottom: 2px solid red;
  }


  a.anchor-links:active {
    border-bottom: 2px solid red;
  }

  /* styling for search container*/
  .search-container {

    padding: 1em;
  }

  .fa-magnifying-glass {
    color: white;
    position: absolute;
    top: 30px;
    right: 4.2rem;
    z-index: 1;
    font-size: 1rem;

  }

  .search-bar {



    outline: none;
    width: 70%;
    padding: 5px 0px 5px 10px;
    border: 1px solid rgb(181, 1, 1);
    position: absolute;
    left: 10px;
    top: 1em;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Chillax', sans-serif;
    display: none;
    z-index: 1;
   

  }

  .my-magnify-desktop{
    display: none;

  }
  .user-container{
    display: none;
   
    
   }


  /* STYLING FOR NAVIGATION FOR MOBILE AND TABLET LAYOUT*/


  .mobile-nav {
    background-color: rgb(0, 0, 0);
    position: fixed;
    padding: 1em;
    right: 1000px;
    /* to remove it is 1000px to add it is -30px */
    top: 0;
    width: 100vw;
    z-index: 1;
    height: 40vh;
    transition: all ease 1s;
  }


  .close-menu {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 5%;
  }

  .open-menu {
    
    position: relative;
   
     width: 4.5%;
  }

  a.header-links {
    color: rgb(211, 5, 5);
    text-decoration: none;
    font-family: 'Clash Display', sans-serif;

  }

  .logins {
    color: rgb(255, 0, 0);
    border: 1px red solid;
    background-color: black;
    position: relative;
    text-align: center;
    top: 1em;
    padding: 5px;
    font-family: 'Clash Display', sans-serif;
  }


  .logo-name {
    font-size: 16px;
  }

  .major-link-login {
    text-align: center;
  }

  .fa-google-play {
    color: white;
    font-size: 16px;
  }


  /* for main bodies movies container*/




  .image {
    display: inline-block;
    /* Ensure the container wraps around the image */

     
    /* Hide overflow to contain the shadow effect */

  }



  .img-con {

   /* position: relative;
    width: 100vw;
    top: 4em;
    /* Ensure the image fits within the container */
    /*filter: brightness(80%);
    /* Apply grayscale to the image */
    /* Add a vignette shadow effect */
    /*box-shadow: inset 0 0 200px 50px rgba(0, 0, 0, 0.5);*/
    display: none;

 




  }

  .img-con2{
     width: 100vw;
     position: relative;
     top: 4em;
  

    
     

  }

  .video-container {
    position: relative;


  }

  .letter-container {
    position: relative;
    top: -11em;
    left: 0;
    padding: .8em;
   outline: none;





  }


  .back-hd {
    display: flex;
    gap: 2em;
    font-size: 12px;
    position: relative;
    top: -20em;




  }


  .head-name {
    padding: 20px 0px 20px 0px;
    font-size: 2em;
    display: none;
  }

  .letter {
    background-color: rgb(234, 0, 0);
    color: white;
    padding: .6em;
    border-radius: 5px;
    font-family: 'Clash Display', sans-serif;

  }


  .descript {


    font-family: 'Chillax', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);




  }

  .des-con {
    font-size: 10px;
    width: 80vw;
    display: none;

  }



  .watch {
    display: flex;
    align-items: center;
    gap: .6em;
    margin-top: 2em;
    padding: 10px 0px 10px 10px;
    background-color: rgb(255, 255, 255);
    width: 40vw;
    position: relative;
    top: -3em;
    font-size: 10px;

    font-family: 'Chillax', sans-serif;


  }

  .watch:hover {
   background-color: red;
   opacity: .9;
    cursor: pointer;
  }

  .watch-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 17px;
  }


  .fa-play {
    color: black;
    font-size: 25px;
  }


  /* styling for treding*/


  .scroll-img2 {
   width: 125px;
   border-radius: 5px;


  }


  .scroll-img2:hover {

    filter: brightness(70%);
  }


  .mobiletreading-container {
    color: white;
    padding: .5em;
    position: relative;
    top: -3em;
 






  }

  .treading-container{
    display: none;
  }


  .treading-control2{
    width: 100%;
    }

  .treading-control {
    display: flex;
    overflow: auto;
    gap: .3em;
    padding: 0px 0px 20px 0px;



  }
  .treading-control-2{
    display: flex;
    gap: .3em;
    overflow: auto;
  }

  .treading-control-3{
    display: flex;
    gap: .3em;
   
    overflow: auto;

  }

  .treading-control-4{
    display: flex;
    gap: .3em;
   
    overflow: auto;
  }


  .treading-control-5{
    display: flex;
    gap: .3em;
    
    overflow: auto;
  }

  .treading-control-6{
    display: flex;
    gap: .3em;
   
    overflow: auto;
  }
  .treading-control-7{
    display: flex;
    gap: .3em;

    overflow: auto;
  }



  .treading-control::-webkit-scrollbar {
    display: none;
  }
  .treading-control-2::-webkit-scrollbar {
    display: none;
  }
  .treading-control-3::-webkit-scrollbar {
    display: none;
  }
  .treading-control-4::-webkit-scrollbar {
    display: none;
  }
  .treading-control-5::-webkit-scrollbar {
    display: none;
  }
  .treading-control-6::-webkit-scrollbar {
    display: none;
  }
  .treading-control-7::-webkit-scrollbar {
    display: none;
  }


  .trend-head {
    font-family: 'Clash Display', sans-serif;
    padding: 20px 0px 20px 0px;
    font-size: 20px;
  }




  /* footer section */
  .footer-continer {

    color: white;

    position: relative;

    font-family: 'Chillax', sans-serif;
    /*top: -10em;*/
    left: 0;
    right: 0;



  }

 

  .about {
    padding: 1em;
    font-size: 13px;
  }


  .cat-links {
    text-decoration: none;
    color: rgb(238, 2, 2);
    position: relative;
    top: -.2em;
    padding: 1em;
    font-size: 13px;

  }

  .link-sec {
    color: white;
    padding: 1em;
    font-size: 13px;
    font-family: 'Chillax', sans-serif;


  }

  .section-talk {
    padding: 1em;
    font-size: 13px;
  }


  /* for preview buttons*/


  .treading-container button {
    position: relative;
    top: -3em;
    font-size: 2em;
    padding: 10px 50px 10px 50px;
    outline: none;
    border: none;
    display: none;






  }

  .button {
    display: flex;
    justify-content: space-between;
  }



  .pre {

    background-color: black;
    color: rgb(255, 0, 0);
    opacity: .7;




  }



  .next {

    background-color: black;
    color: rgb(255, 0, 0);
    opacity: .6;


  }

  .pre:hover {
    opacity: 9;
    cursor: pointer;


  }


  .next:hover {
    opacity: 9;
    cursor: pointer;



  }

}