<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chillflix</title>
    <script defer src="js_files/index.js"></script>
    <script defer src="/backend/authentication/auth.js"></script>
    <link rel="stylesheet" href="stylesheet/index.css">
    <link
        href="https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@100,400,300,200&f[]=boska@300&f[]=chillax@500,300,400&display=swap"
        rel="stylesheet">
    <link href="https://api.fontshare.com/v2/css?f[]=clash-display@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header class="header-container">

        <nav class="navbar-container">

            <h1 class="logo-name"><a class="header-links" href="/">CHILLFLIX</a>
                <i class="fa-brands fa-google-play"></i>
            </h1>

            <!--
  <div class="search-container">
                <i class="fa-solid fa-magnifying-glass">

                </i>
                <input class="search-bar" type="text" name="login-details" id="#"
                    placeholder="search for movies & tv shows">
            </div>
            -->
         


            <ul class="all-links">


                <!--

            
                <li class="major-links"><a class="anchor-links" href="/index_files/home.html">HOME</a></li>
                <li class="major-links"><a class="anchor-links" href="/index_files/movies.html">MOVIES</a></li>
                <li class="major-links"><a class="anchor-links" href="/index_files/tvseries.html">TV SERIES</a></li>
                <li class="major-links"><a class="anchor-links" href="/index_files/topimdb.html">TOP IMDB</a></li>
                    -->
                <li class="major-links"><a class="logins" href="login">Login</a></li>

            </ul>
        </nav>
    </header>


    <main class="all-main">
        <h1 class="parent-logo"><a class="mymovies-logo" href="/index.html">CHILLFLIX</a>

            <i id="google-play" class="fa-brands fa-google-play"></i>
        </h1>
        <div class="content">
        </div>

        <div class="content-container">

            <div class="your-content">
                <p class="small-content">
                    Watch unlimited films, Tv shows and more for free!
                </p>
                <p class="browse-links"><a class="link-to-movies" href="login">Browse all movies &
                        series</a></p>

                <p class="small-content">
                    Please help us by sharing this site with your friends. Thanks!
                </p>
                <div class="share-links">
                    <a href="" class="social-links"> <i class="fa-brands fa-facebook"></i></a>
                    <a href="" class="social-links"> <i class="fa-brands fa-twitter"></i></a>
                    <a href="" class="social-links"> <i class="fa-brands fa-instagram"></i></a>
                    <a href="" class="social-links"> <i class="fa-brands fa-tiktok"></i></a>
                    <a href="" class="social-links"><i class="fa-brands fa-telegram"></i></a>

                </div>
            </div>





        </div>
    </main>

    <footer class="footer-continer">
        <div class="footer-about-us">
            <h4 class="about">About us</h4>
            <p class="section-talk">
                Chillflix is free tv shows streaming website with zero ads, it allows you watch tv shows online, watch
                tv shows online free in high quality for free. You can also download full tv shows and watch it later if
                you want.
                This site does not store any files on our server, we only linked to the media which is hosted on 3rd
                party services.
            </p>
        </div>
        <h4 class="link-sec"> Links</h4>

        <div class="footer-links">
            
            <a href="/" class="cat-links">Movies</a>
            <a href="/" class="cat-links">Tv series</a>
            <a href="/" class="cat-links">Top IMDb</a>
            <a href="/" class="cat-links">Action</a>
            <a href="/" class="cat-links">Drama</a>
            <a href="/" class="cat-links">Comedy</a>
            <a href="/" class="cat-links">Horror</a>
            <a href="/" class="cat-links">Mystry</a>
            <a href="/" class="cat-links">Fantasy</a>

        </div>
    </footer>



</body>

</html>