<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chillflix</title>
    <script defer src="/backend/authentication/auth.js"></script>
    <link rel="stylesheet" href="/public/login.css" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@100,400,300,200&f[]=boska@300&f[]=chillax@500,300,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://api.fontshare.com/v2/css?f[]=clash-display@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
   

   
    <header class="header-container">

      <nav class="navbar-container">

          <h1 class="logo-name"><a class="header-links" href="/index_files/index.html">CHILLFLIX</a>
              <i class="fa-brands fa-google-play"></i>
          </h1>
         

 

         


          <ul class="all-links">
            <!--
              <li class="major-links"><a class="anchor-links" href="/index_files/home.html">HOME</a></li>
              <li class="major-links"><a class="anchor-links" href="/index_files/movies.html">MOVIES</a></li>
              <li class="major-links"><a class="anchor-links" href="/index_files/tvseries.html">TV SERIES</a></li>
              <li class="major-links"><a class="anchor-links" href="/index_files/topimdb.html">TOP IMDB</a></li>
           
              <li class="major-links"><a class="logins" href="/index_files/login.html">Login</a></li>
 -->
          </ul>
      </nav>
  </header>




  <div class="login-background">
  </div>
  

  <div class="login-container">
    
    <h4 class="log">Login</h4>
    <div class="login-forms">
    
     <div class="form-one">
      <input placeholder="email address" class="mail" type="email" name="email-" id="#">

     </div>

     <div class="form-two">
      <input placeholder="password" class="--login" type="password" name="password-" id="#">

     </div>
     

    </div>
    <button class="com-login"><a class="logging" href="/index_files/home.html">Login</a></button>

    <p class="account">Don't have an account <a class="register" href="/index_files/register.html">Register</a></p>

  </div>


<!--


  <footer class="footer-continer">
    <div class="footer-about-us">
     <h4 class="about">About us</h4>
     <p class="section-talk">
      Chillflix is free tv shows streaming website with zero ads, it allows you watch tv shows online, watch tv shows online free in high quality for free. You can also download full tv shows and watch it later if you want.
      This site does not store any files on our server, we only linked to the media which is hosted on 3rd party services.
     </p>
    </div>

    <div class="footer-links">
        <h4 class="link-sec"> Links</h4>
            <a href="/" class="cat-links">Movies</a>
            <a href="/" class="cat-links">Tv series</a>
            <a href="/" class="cat-links">Top IMDb</a>
            <a href="/" class="cat-links">Action</a>
            <a href="/" class="cat-links">Drama</a>
            <a href="/" class="cat-links">Comedy</a>
            <a href="/" class="cat-links">Horror</a>
            <a href="/" class="cat-links">Mystry</a>
            <a href="/" class="cat-links">Fantasy</a>
       
    </div>
   </footer>
   -->



  </body>
</html>
