*{
    padding: 0;
    margin: 0;
}



@media only screen and (min-width: 1280px){
    body{
       background-color: black;
       position: fixed;
       left: 0;
       right: 0;
        /*cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12'%3E%3Ccircle cx='6' cy='6' r='4' fill='white'/%3E%3C/svg%3E") 6 6, auto;
        color: white;*/

    }    
        
    
  header.header-container {
    background-color: rgb(16, 16, 16);

    
  
  
  }
  nav.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }
  ul.all-links{
    display: flex;
    gap: 1.5em;
    justify-content: center;
    list-style: none;

  }

 a.anchor-links{
    text-decoration: none;
    color: white;
    font-family: 'Chillax', sans-serif;
 }
 a.logins{
    text-decoration: none;
 }
 /* styling for search container*/
        .search-container{
            
            padding: 1em;
        }
        .fa-magnifying-glass{
    color: white;
    position: relative;
    left: 2em;
   
   }

    .search-bar{
        outline: none;
        width: 30vw;
        padding: 5px 0px 5px 40px;
        border: 1px solid rgb(181, 1, 1);
    
        background-color: rgba(122, 122, 122, 0.457); 
        border-radius: 10px;
        color: white;
        font-size: 20px;  
        font-family: 'Chillax', sans-serif;

    
    }

    a.header-links{
        color: rgb(211, 5, 5);
        text-decoration: none;
        font-family: 'Clash Display', sans-serif;
    
    }
    .logins{
    color: rgb(255, 0, 0);
    border: 1px red solid;
    background-color: black;
    border-radius: 20px;
    padding: 2em;
    font-family: 'Clash Display', sans-serif;
    }

    .fa-google-play{
        color: white;
        font-size: 30px;
    }



/* for login details*/


.login-background{
    background-image: url('/images_files/bg-movies.jpeg');
    height: 100vh;
    position: fixed;
    top: 6em;
    bottom: 0;
    left: 0;
    right: 0;
    filter: brightness(30%);
}

.login-container{
    position:fixed;
    text-align: center;
    left: 0;
    right: 0;
    top: 7em;
    background-color: rgba(0, 0, 0, 0.633);
    margin-left: 30em;
    margin-right: 30em;
    padding: 2em;
    height: 51vh;
    border-top: 1px solid red;
    border-left: 1px solid red;
    border-right: 1px solid red;

}

.login-forms{
    text-align: center;
    font-family: 'Chillax', sans-serif;
   
   
}
.form-one{
    text-align: center;
}
.form-two{
    text-align: center; 
}

.mail{
   width: 20vw;
   margin-bottom: 2em;
   padding: 10px 4px 10px 4px;
   outline: none;
  
}
.--login{
    width: 20vw;
    margin-bottom: 2em;
    padding: 10px 4px 10px 4px;
    outline: none;
}
.log{
    margin-bottom: 1em;
    font-size: 26px;
    color: white;
    font-family: 'Chillax', sans-serif;
}
.com-login{
    border: none;
    width: 10vw;
    padding: 10px 0px 10px 0px;
    background-color: red;
    cursor: pointer;
    font-family: 'Chillax', sans-serif;

}
.com-login:hover{
    opacity: .6;
}

.account{
    padding: .8em;
    color: white;
    font-family: 'Chillax', sans-serif;

}
.register{
    color: rgb(58, 58, 209);
    font-family: 'Chillax', sans-serif;
}









   /* footer section */
   .footer-continer{
    border-top: solid 1px rgb(162, 5, 5);
    color: white;
    background-color: rgba(9, 7, 7, 0.835);
    padding: 3em;
    font-size: 16px;
    font-family: 'Chillax', sans-serif;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 37em;


}
.footer-about-us{
    width: 50vw;
}
.about{
    padding: 10px 0px 10px 0px;
}

.footer-links{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 1em;
    padding: 0px 0px 0px 60px;
    
}
.cat-links{
    text-decoration: none;
    color: rgb(238, 2, 2);
    position: relative;
    top: 2em;
    font-size: 15px;
    
}


}